@use 'utils';
@use 'form';
@use 'footer';

$primary-color: #00365A;
$secondary-color: #FFE3E3;

/* ------------------
        GENERIC 
-------------------- */


* {
    box-sizing: border-box;
}

.framed>*:last-child {
    margin-bottom: 0 !important;
}

html {
    height: 100%;
}

html,
body {
    overflow-x: hidden;
}

body {
    font-family: 'Poppins', sans-serif;
    color: #3D4456;
    line-height: 1.75;
    font-size: 1.125rem;
    min-height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

img {
    max-width: 100%;
    vertical-align: middle;
}

p {
    margin: 0 0 24px
}

h1,
h2,
h3 {
    font-weight: 600;
    letter-spacing: 0.3px;
    line-height: 1;
    color: $primary-color;
    margin: 0 0 24px;
    overflow-wrap: break-word;
    hyphens: auto;
}

h1 {
    font-size: 2.25rem;
}

h2 {
    font-size: 2rem;
}
header{
    padding-top:24px;
    padding-bottom:24px;
}

.container {
    width: 100%;
    max-width: 962px;
    margin: 0 auto;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    opacity: 1;
}

.box{
    position:relative;
}

.framed {
    border: solid 1px $secondary-color;
    border-radius: 16px;
    padding: 16px;
    position: relative;
}

.section-margin {
    margin-bottom: 48px;
}

.inner-margin{
    margin-bottom:24px;
}

.btn-primary {
    background-color: $primary-color;
    border: none;
    border-radius: 7px;
    color: #fff;
    line-height: 1;
    font-weight: 500;
    padding: 16px 32px;
    box-shadow: none;
    transform: scale(1);
    transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        background-color: #002d5c;
        box-shadow: 0 0 0 2px #fff, 0 0 0 4px #0250A3;
    }
}

.btn-primary:active {
    background-color: #0250A3;
    box-shadow: none;
    transform: scale(0.95);
}

#eval-results #results {
    gap: 32px;
}


.close-btn {
    background-color: transparent;
    border: none;
    border-radius: 50%;
    width: 37px;
    height: 37px;
    padding: 8px;
    position: absolute;
    right: 32px;
    top: 16px;
    box-shadow: none;
    transform: scale(1);
    transition: transform 0.2s cubic-bezier(0.4, 0, 0.2, 1);

    &:active {
        border: solid 1px #0250A3;
        transform: scale(0.75);
    }

    & img {
        vertical-align: initial;
        transform: rotate(0);
        transform-origin: 50%;
        transition: transform 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    }

    &:hover img,
    &:focus img {
        transform: rotate(90deg);
    }
}


@media screen and (min-width: 768px) {
    h1 {
        font-size: 2.625rem;
    }

    h2 {
        font-size: 2.25rem;
    }

    .framed {
        padding: 24px;
    }
}